.site-footer {
  background: $footer-bg;
  color: #fff;
  padding: 1.25rem 0;

  .footer-buttons .btn-social {
    margin: 0 .35rem;
    border-radius: 8px;
    padding: .48rem .9rem;
    font-weight:600;
  }
}
