// colores y tipografías
$lavanda: #d8bfd8;
$lavanda-dark: #bfa0bf;
$text-color: #2e2a2a;
$accent: #6b4cff;
$accent-2: #1DB954;
$white: #ffffff;
$footer-bg: #3b3b3b;

$font-primary: 'Quicksand', sans-serif;

// tamaños
$max-width: 1200px;
